<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Question</title>
</head>
<body>
    <form action="/add-new">
        <input type="text" id="new-question" placeholder="write question here?">
        <textarea name="answer" id="answer" placeholder="write your answer here"></textarea>

        <button>Submit</button>
    </form>
</body>
</html>