<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matrix Master Community</title>
</head>
<body>
<a href="/logOut">Log Out</a>
<h1>Matrix Master Community</h1>
<form action="/addQuestion" method="post">
    <button>Add Question</button>
</form>
<div>
    <ul>
        <% for (let i=0;i<question.length;i++){%>
        <li><%=question.title%>
            <br>
            <%=question.description%>
        </li>
        <%}%>
    </ul>
</div>
</body>
</html>